<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        <title>{{ title }}</title>
        <link href="assets/bootstrap.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>{{ title }}</h1>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
