{% extends "base.html" %}

{% block head %}
{{ parent() }}
<script src="assets/jquery.js"></script>
<script src="assets/jquery.flot.js"></script>
<script src="assets/jquery.flot.axislabels.js"></script>
<script src="assets/jquery.flot.time.js"></script>
<style type="text/css">
    .graph {
        width: 600px;
        height: 300px;
    }
</style>
{% endblock %}

{% block content %}
{% for graph in graphs %}
    {% set timed_bar_width = 3600 * 24 * 30 %}
    <div class="graph-container">
        <h2>{{ graph.title }}</h2>
        <div id="{{ graph.id }}" class="graph"></div>
    </div>
    <script type="text/javascript">
        $(function() {
            var options = {
                xaxes: [{ axisLabel: '{{ graph.xlabel }}' }],
                yaxes: [{ axisLabel: '{{ graph.ylabel }}' }]
                {% if graph.timed %}
                , xaxis: { mode: "time", timeformat: "%Y-%m" }
                , series: {  bars: {
                    barWidth: {{ timed_bar_width }}
                }}
                {% endif %}
            };
            var flot_datasets = [];
            var flot_dataset = {};
            {% for dataset in graph.datasets %}
                {% set samples = [] %}
                {% for x, y in dataset.points %}
                    {% set point = '[' ~ x ~ ',' ~ y ~ ']' %}
                    {% set samples = samples|merge([point]) %}
                {% endfor %}
                flot_dataset = { label: "{{ dataset.label }}", {{ dataset.type }}: { show: true }, data: [ {{ samples|join(', ') }} ] };
                flot_datasets.push(flot_dataset);
            {% endfor %}
            $.plot("#{{ graph.id }}", flot_datasets, options);
        });
    </script>
{% endfor %}
{% endblock %}
