{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for item in stats %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
